<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/dashboardLayout.html}"
	>
  	<head>
		<title>Trang chủ</title>
        <link rel="stylesheet" href="/customer/header/Home.css">
	</head>

	<body>
		<section class="row" layout:fragment="content">
            <div class="banner text-center d-flex justify-content-center align-items-center">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/customer/images/banner/fried-spring-rolls-cutting-board.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/customer/images/banner/front-view-tasty-chicken-slices-with-seasonings-vegetables-dark.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/customer/images/banner/guay-jap-meatballs-vietnamese-pork-sausage-pork-bone-thai-food.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="content-home">
                <div class="container">
                    <div class="container mt-5 text-center">
                        <a th:href="@{/book}" class="btn btn-success rounded-circle text-white"> 
                            <img src="/customer/images/logo/book.png" alt="Đặt bàn" />
                        </a>&emsp;&emsp;&emsp;&emsp;
                        <a th:href="@{/shopping-cart/views}" class="btn btn-success rounded-circle text-white"> 
                            <img src="/customer/images/logo/ship.png" alt="Đặt ship" />
                        </a>
                    </div>
                    <div class="container mt-1 text-center">
                        &emsp;
                        <a th:href="@{/book}" class="btn rounded-circle"> 
                            <h3>Đặt bàn</h3>
                        </a>&emsp;&ensp;
                        <a th:href="@{/book}" class="btn rounded-circle"> 
                            <h3>Đặt Ship</h3>
                        </a>
                    </div>
                    <div class="text-home text-danger fw-bold fw-light text-center mt-5">
                        <h2>BẠN MUỐN ĂN GÌ?</h2>
                        <p class="text-menup text-black ">Nhà hàng TV cung cấp các món ăn ngon đặc sản 3 miền</p>
                    </div>
                    <div class="contentmenuhome mt-5">
                        <ul class="nav nav-pills justify-content-center " id="pills-tab" role="tablist">
                            <li th:each="item : ${nhomMonAns}" class="nav-item btn btn-success rounded-pill me-5" role="presentation">
                                <a class="nav-link text-white" id="pills-monnoibat-tab" 
                                     type="button" role="tab"
                                     th:text="${item.tenNhomMon}" th:href="@{${item.maNhomMon}}"></a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <!-- {/* Cuốn */} -->
                            <div class="tab-pane fade show active" id="pills-cuon" role="tabpanel"
                                aria-labelledby="pills-cuon-tab">
                                <div class="row">
                                    <!-- {/* Card1 */} -->
                                    <div th:each="item : ${monAnByCategory}" class="card m-5" style="width: 20rem;">
                                        <img id="image" th:src="${item.image!=null ? '/admin/monan/images/' + item.image : 'images/noimage.jpg'}"
                                            src="/images/miku.jpg" width="300px" height="250px" 
                                            class="img-fluid" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title" th:text="${item.tenMonAn}"></h5>
                                            <p class="card-text" th:text="${item.mota}">
                                            </p>
                                            <div class="d-flex">
                                                <div class="d-flex btn btn-success rounded-pill">
                                                    <a th:href="@{'/shopping-cart/add/' + ${item.maMonAn}}" class=" text-white text-decoration-none fw-normal"><i
                                                            class="fas fa-cart-plus me-1"></i>Đặt hàng</a>
                                                </div>
                                                <div
                                                    class="justify-content-center align-items-center fw-bold text-center mt-2 ms-4">
                                                    <span>[[${item.gia}]]đ</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>