<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div th:fragment="footer">
		<div class="site-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 pr-md-5 mb-4 mb-md-0 text-white">
						<h3>Về chúng tôi</h3>
						<p class="mb-4"> Nhà hàng TV phục vụ các món ngon ba miền.
							Chất lượng và an toàn từ thành phần đến giá trị để bạn có thể hoàn toàn
							tận hưởng trải nghiệm ẩm thực tại nhà hàng TV.</p>
						<ul class="list-unstyled quick-info  mb-4" style="color: rgb(233, 162, 76);">
							<li>
								<span> <i class="fas fa-phone-alt me-3"></i>+ 01 234 567 88</span>
							</li>

							<li>
								<span><i class="fas fa-print me-3"></i>+ 01 234 567 89</span>
							</li>
							<li>
								<span><i class="fas fa-envelope me-3 "></i> tvrestaurant@gmail.com</span>
							</li>
						</ul>
					</div>
					<div class="col-md-3 mb-4 mb-md-0 text-white" style="margin-left: 20rem;">
						<h3>Món ngon nổi bật</h3>
						<div class="row gallery">
							<div class="col-6">
								<a href="#"><img src="/customer/images/monngon/img1.png" alt="Image"
										class="img-fluid"></a>
								<a href="#"><img src="/customer/images/monngon/img2.png" alt="Image"
										class="img-fluid"></a>
							</div>
							<div class="col-6">
								<a href="#"><img src="/customer/images/monngon/img3.png" alt="Image"
										class="img-fluid"></a>
								<a href="#"><img src="/customer/images/monngon/img4.png" alt="Image"
										class="img-fluid"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
