<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}"
	>
  	<head>
		
	</head>

	<body>
		<section class="row" layout:fragment="content">
			<div class="col-6 offset-3 mt-4 ">
			<form th:action="@{/admin/datban-manage/saveOrUpdate}" method="post" th:object="${datBan}">
				<div class="card">
				<div class="card-header">
					<h2 th:unless="${datBan.isEdit}">Thêm mới khách hàng</h2>
					<h2 th:if="${datBan.isEdit}">Chỉnh sửa khách hàng</h2>
				</div>	
				<div class="card-body">
					<div class="form-group">
						<input type="hidden" th:field="*{isEdit}">
						<input type="hidden" class="form-control" th:field="*{maDatBan}" aria-describedby="maDatBanHid" placeholder="Mã khách hàng" readonly>
						<small th:if="${#fields.hasErrors('maDatBan')}" id="maDatBanHid" class="form-text text-muted">Category ID is required</small>
					</div>
					<div class="form-group">
						<label for="hoTen">Tên khách hàng</label>
						<input type="text" class="form-control" th:field="*{hoTen}" id="hoTen" aria-describedby="hoTenHid" placeholder="Tên khách hàng">
						<small th:if="${#fields.hasErrors('hoTen')}" id="hoTenHid" class="form-text text-danger">Tên không hợp lệ hoặc không được để trống</small>
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="text" class="form-control" th:field="*{email}" id="email" aria-describedby="emailHid" placeholder="Email">
						<small th:if="${#fields.hasErrors('email')}" id="emailHid" class="form-text text-danger">Email không hợp lệ hoặc không được để trống</small>
					</div>
					<div class="form-group">
						<label for="phone">Số điện thoại</label>
						<input type="text" class="form-control" th:field="*{phone}" id="phone" aria-describedby="phoneHid" placeholder="Tên khách hàng">
						<small th:if="${#fields.hasErrors('phone')}" id="phoneHid" class="form-text text-danger">Số điện thoại không hợp lệ </small>
					</div>
                    <div class="form-group">
						<label for="soluong">Số lượng</label>
						<input type="text" class="form-control" th:field="*{soluong}" id="soluong" aria-describedby="soluongHid" placeholder="Tên khách hàng">
						<small th:if="${#fields.hasErrors('soluong')}" id="soluongHid" class="form-text text-danger">Số điện thoại không hợp lệ </small>
					</div>
                    <div class="form-group">
						<label for="ngayden">Ngày đến</label>
						<input type="date" class="form-control" th:field="*{ngayden}" id="ngayden" aria-describedby="ngaydenHid" placeholder="Tên khách hàng">
						<small th:if="${#fields.hasErrors('ngayden')}" id="ngaydenHid" class="form-text text-danger">Số điện thoại không hợp lệ </small>
					</div>
					<div class="form-group">
						<label for="content">Nội dung</label>
						<input type="text" class="form-control" th:field="*{content}" id="content" aria-describedby="contentHid" placeholder="Tên khách hàng">
						<small th:if="${#fields.hasErrors('content')}" id="noidungHid" class="form-text text-danger">Tên không hợp lệ hoặc không được để trống</small>
					</div>
				</div>
				<div class="card-footer text-muted">
					<a th:href="@{/admin/datban-manage/searchpaginated}" class="btn btn-success">Danh sách khách hàng liên hệ</a>
					<button class="btn btn-primary"><i class="fas fa-save"></i>
					<span th:if="${datBan.isEdit}">Cập nhật</span>
					<span th:unless="${datBan.isEdit}">Lưu</span>
					</button>
				</div>
				</div>
			</form>
			</div>
		</section>
	</body>
</html>