<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/dashboardLayout.html}"
	>
  	<head>
		<title>Thông tin nhà hàng</title>
		<link rel="stylesheet" href="/customer/header/about.css">
	</head>

	<body>
		<section class="row" layout:fragment="content">
            <div class="banner text-center d-flex justify-content-center align-items-center">
				<img src="/customer/images/logo/logotext.png" alt="" />
			</div>
			<div class="about=content">
				<div class="about-text">
					<p class="fw-bold fw-lighter fs-1 text-success text-center">NHÀ HÀNG TV - MÓN NGON ĐẬM VỊ</p>
					<p class="fw-normal fs-4 text-center">Được thành lập từ tình yêu, niềm đam mê bất tận với các món ăn
						và nền ẩm thực châu Á, Nhà hàng TV
						đã chính thức đi vào hoạt động tháng 12/2021
					</p>
				</div>
				<div class="about-img mt-5">
					<div class="text-center">
						<img src="/customer/images/about/img1.jpg" alt="" />
	
					</div>
					<p class="fw-normal fs-5 mt-3">Nhà hàng hoạt động, với tiêu chí,
						luôn nỗ lực không ngừng để có những món ăn ngon,
						nhân viên phục vụ thân thiện và dịch vụ tốt làm hài lòng
						mọi quý khách hàng (ngay cả những thực khách khó tính
						nhất). Hi vọng trong tương lai TV sẽ là một người bạn đồng hành uy tín cùng thực khách.
						Để có thể đem đến những hương vị tuyệt vời, tinh túy nhất của từng món ăn
					</p>
					<div class="text-center mt-3">
						<img src="/customer/images/about/kg2.jpg" alt="" />
					</div>
					<p class="fw-normal fs-5 mt-3">Không gian nội thất đa dạng, tùy ý thích thực khách lựa chọn với kiến
						trúc độc đáo đem lại cảm giác mới lạ với những góc sống ảo vô cùng lung linh. Món ngon đậm vị -
						Không gian xanh</p>
					<div class="text-center mt-3">
						<img src="/customer/images/about/kg3.jpg" alt="" />
					</div>
					<p class="fw-normal fs-5 mt-3">
						Liên tục cải tiến về chất lượng và đa dạng hóa món ăn, hiện tại,
						trong thực đơn TV đã có hơn 50 món ăn mang bản sắc,
						dấu ấn riêng của các vùng miênf. Không chỉ vậy, với tiêu chí, mang đúng “hơi thở và linh hồn”
						của món ăn người dân bản xứ, cùng với sự chỉn chu trong nấu nướng của bếp trưởng,
						tất cả các nguyên liệu chế biến món ăn tại Nhà hàng TV luôn đảm bảo sự tươi ngon, an toàn vệ sinh
						thực phẩm.
						Sẽ là lý do,
						giúp Nhà hàng TV chinh phục được cả những thực khách khó tính, rất sành về ẩm thực.
						Đến với Nhà hàng TV, quý khách hàng không chỉ được thỏa mãn
						vị giác, thị giác, xúc giác với những món ăn ngon mà còn được
						phục vụ gần gũi, thân thiện mà ấm áp.
	
					</p>
				</div>
			</div>
        </section>
    </body>
</html>