<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/dashboardLayout.html}"
	>
  	<head>
		<title>Tất cả món ăn</title>
		<link rel="stylesheet" href="/customer/header/menu.css">
    
	</head>

	<body>
		<section class="row mt-5" layout:fragment="content">
      <div class="container mt-5 text-center">
				<a th:href="@{/book}" class="btn btn-success rounded-circle text-white"> 
					<img src="/customer/images/logo/book.png" alt="Đặt bàn" />
				</a>&emsp;&emsp;&emsp;&emsp;
				<a th:href="@{/shopping-cart/views}" class="btn btn-success rounded-circle text-white"> 
					<img src="/customer/images/logo/ship.png" alt="Đặt ship" />
				</a>
			</div>
            <div class="container mt-1 text-center">
                &emsp;
				<a th:href="@{/book}" class="btn rounded-circle"> 
					<h3>Đặt bàn</h3>
				</a>&emsp;&ensp;
				<a th:href="@{/book}" class="btn rounded-circle"> 
					<h3>Đặt Ship</h3>
				</a>
			</div>
      <div class="contentmenu">
          
          <div class="textmenu">
              <h1 class="text-center fw-bold fw-lighter mt-5 text-success">TẤT CẢ CÁC MÓN ĂN</h1>
          </div>
          <div class="menufood">
              <div class="ms-5">
                  <hr />
                  <ul class="nav nav-pills justify-content-start " id="pills-tab" role="tablist">
                      <li class="nav-item btn btn-success rounded-pill me-3" role="presentation">
                        <a class="nav-link text-white" th:href="@{/collections/all}"  role="tab">Tất cả món ăn</a>
                      </li>
                      <li th:each="item : ${nhomMons}" class="nav-item btn btn-success rounded-pill me-3" role="presentation">
                          <a th:text="${item.tenNhomMon}" class="nav-link text-white" id="pills-cuon-tab" 
                                role="tab" 
                              aria-selected="true" th:href="@{'/collections/' + ${item.maNhomMon}}"></a>
                      </li>
                      <li class="nav-item btn" style="margin-left: 100px;"  role="presentation">
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sắp xếp
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" th:href="@{/collections/all}">Theo bảng chữ cái từ A-Z</a>
                              <a class="dropdown-item" th:href="@{/collections/descname}">Theo bảng chữ cái từ Z-A</a>
                              <a class="dropdown-item" th:href="@{/collections/ascprice}">Giá từ thấp tới cao</a>
                              <a class="dropdown-item" th:href="@{/collections/descprice}">Giá từ cao tới thấp</a>
                            </div>
                        </div>
                      </li>
                  </ul>
                  <hr>
                  <div class="tab-content" id="pills-tabContent">
                      <!-- {/* Cuốn */} -->
                      <div class="tab-pane fade show active" id="pills-cuon" role="tabpanel"
                          aria-labelledby="pills-cuon-tab">
                          <div class="row mt-5">
                              <!-- {/* Left */} -->
                              <div th:each="item : ${productPage.content}" class="col-6">
                                  <div class="d-flex">
                                      <img id="image" th:src="${item.image!=null ? '/admin/monan/images/' + item.image : 'images/noimage.jpg'}"
                                      src="/images/miku.jpg" width="300px" height="250px" 
                                      class="img-fluid" alt="">
                                      <div class="ms-2">
                                          <p class="fw-bold"> [[${item.tenMonAn}]]........................................ [[${item.gia}]]đ</p>
                                          <div class="mt-5 btn btn-success rounded-pill">
                                              <a th:href="@{'/shopping-cart/add/' + ${item.maMonAn}}" class=" text-white text-decoration-none fw-normal"><i
                                                      class="fas fa-cart-plus me-1"></i>Đặt hàng</a>
                                          </div>
                                          <div class="mt-5 btn btn-warning rounded-pill">
                                              <a th:href="@{'/chitiet/' + ${item.maMonAn}}" class=" text-white text-decoration-none fw-normal"><i
                                                      class="fas fa-cart-plus me-1"></i>Xem chi tiết</a>
                                          </div>
                                      </div>
                                      <br>
                                  </div>
                                  <hr>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card-footer text-muted">
                      <form action="">
                        <div class="form-inline float-left">
                          <label for="size">Page Size: </label>
                          <!--onchange: cập nhật lại nội dung hiển thị trên trang-->
                          <select name="size" id="size" class="form-control ml-2"
                            onchange="this.form.submit()">
                            <option th:selected="${productPage.size == 10}" value="10">10</option>
                            <option th:selected="${productPage.size == 20}" value="20">20</option>
                            <option th:selected="${productPage.size == 30}" value="30">30</option>
                          </select>
                        </div>
                      </form>
                      <nav aria-label="Page navigation" 
                        th:if="${productPage.totalPages > 0}">
                        <ul class="pagination justify-content-center">
                          <li th:class="${1 == productPage.number + 1} ? 'page-item active' : 'page-item' ">
                            <a th:href="@{/collections/all(name=${tenMonAn}, size=${productPage.size}, page=${1})}"
                              class="page-link">
                              Đầu trang
                            </a>
                          </li>
                          <li class="page-item active"
                            th:each="pageNumber : ${pageNumbers}"
                            th:if="${productPage.totalPages > 1}"
                            th:class="${pageNumber == productPage.number + 1} ? 'page-item active' : 'page-item'">
                            <a th:href="@{/collections/all(name=${tenMonAn}, size=${productPage.size}, page=${pageNumber})}"
                              class="page-link" 
                              th:text="${pageNumber}">
                            </a>
                          </li>
                          <li th:class="${productPage.totalPages == productPage.number + 1} ? 'page-item active' : 'page-item' ">
                            <a th:href="@{/collections/all(name=${tenMonAn}, size=${productPage.size}, page=${productPage.totalPages})}"
                              class="page-link">
                              Cuối trang
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
              </div>
          </div>
      </div>
        </section>
    </body>
</html>